<!doctype html>
<html>
<head>
	<title>WebRTC: Still photo capture demo</title>
	<meta charset='utf-8'>
</head>
<body>
    <div>
        <video id="live" width="320" height="240" autoplay style="display: inline;"></video>
        <canvas width="320" id="canvas" height="240" style="display: inline;"></canvas>
        <outcanvas width="320" id="outcanvas" height="240" style="display: inline;"></outcanvas>
    </div>
<script src="jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="../static/client.js"></script>
</body>