<html>
<head>
    <title>Video Streaming Demonstration</title>

</head>
<body>
<h1>TEST</h1>
<!--    <div class="camera">-->
<!--        <video id="live" width="320" height="240" autoplay style="display: inline; ; visibility: hidden"></video>-->
<!--        <canvas width="320" id="canvas" height="240" style="display: inline;"></canvas>-->
<!--    </div>-->
<!--    <script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>-->
<!--    <script src="{{url_for('static', filename='socket.io.js')}}"></script>-->
<!--    <script src="{{url_for('static', filename='client.js')}}"></script>-->
<img id="bg" src="{{ url_for('video_feed') }}">
</body>
</html>